
.notas {
    height: 450px;
    width: 400px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: -80px 0 0 -25px !important; */
  }
  
  .notas__item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
    width: 170px;
    list-style: none;

  }
  
  
  .item__categoria{
    font-size: 10px;
    padding: 3px;
    border: 1px solid rgb(143, 86, 196);
    border-radius: 4px;
    margin: 10px 0 0 0;
    text-align: center;
    width: 50px;
  }